* {
    margin: 0px;
}

.nav-container {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    gap: 100px;
    margin-bottom: 25px;
    border-bottom: 1px;
}


.nav-img1 {
    display: none;
}


.nav-links {
    align-items: center;
    display: flex;
    gap: 35px;
    margin-left: 10px;
}

.links {
    color: #2D3340;
    text-decoration: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 225px;
    height: 48px;
}

.nav-button {
    align-items: center;
    width: 102px;
    height: 48px;
    border-radius: 24px;
    padding: 14px 25px;
    background-color: #FFFFFF;
    border: 1px solid #89B9A5;
}

.nav-button2 {
    background-color: #6B759D;
    color: white;
    border: none;
}

.main-container {
    background: #7F56D90A;
}

.main-div {
    display: flex;
    justify-content: center;
}

.main-img {
    margin-top: 100px;
}

.main-h1 {
    font-size: 59px;
    font-weight: 800;
    color: #6B759D;
    width: 388px;
}

.main-span {
    color: #0A0C2C;
}

.main-span2 {
    color: #89B9A5;
}


.main-p {
    font-size: 16px;
    margin-top: 50px;
    width: 490px;
}

.dropdown {
    width: 180px;
    height: 50px;
    margin-top: 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    border-right: 0.53px solid #EBEBEB;
    padding-left: 20px;
}

.dropdown1 {
    width: 180px;
    height: 50px;
    margin-top: 60px;
    border: none;
    padding-left: 20px;
}

.dropdown2 {
    width: 180px;
    height: 50px;
    margin-top: 60px;
    background-color: #6B759D;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    border: none;
}

.div-flex {
    display: flex;
}

.main-img1 {
    margin-top: 30px;
}


.main-div2 {
    display: flex;
    justify-content: center;
    gap: 37px;
}

.card1 {
    position: relative;
    width: 220px;
    height: 150px;
    border: 2.23px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    z-index: 10;
    align-items: center;
    border: 2px solid #FFFFFF33;
    padding-bottom: 50px;
}

.main-img2 {
    left: 50px;
    background-color: #FAF8FE;
    position: absolute;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    bottom: 150px;

}

.main-p2 {
    padding-top: 90px;
    width: 200px;
    text-align: center;
}

.main-p2-0 {
    width: 180px;
    margin-left: 20px;
}

.main-div3 {
    background-color: white;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.time-div {
    background-color: white;
    margin-top: 100px;
    width: 64%;
    box-shadow: 11px 12px 42px 0px #0000001F;
    border-radius: 18px;
    z-index: 10;
    display: flex;
    justify-content: center;
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.day-heading1 {
    color: #D02467;
    font-size: 72px;
    font-weight: 700;
    align-items: center;
    padding: 50px 0px 0px 30px;
}

.day-heading2 {
    color: #F52D3A;
}

.day-heading3 {
    color: #FE672E;
}

.day-heading4 {
    color: #FEBE26;
}

.peragraph {
    text-align: center;
    margin-left: 10px;
    margin-bottom: 50px;
}

.border {
    border-left: 1px solid #EAEAEA;
    height: 110px;
    margin-top: 50px;
    margin-left: 50px;
}

.heading {
    width: 340px;
    padding-top: 30px;
}

.button {
    background-color: #6B759D;
    width: 130px;
    height: 50px;
    margin-top: 20px;
    border-radius: 100px;
    border: none;
    color: white;
}

.coundown-img {
    position: relative;
    bottom: 90px;
    justify-content: center;
    width: 100%;
}

.main-div4 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main-h2 {
    font-size: 46px;
    font-weight: 700;
}

.main-p3 {
    width: 500px;
}

.main-img3 {
    margin-top: 20px;
}

.div-flex {
    display: flex;
}

.div4-p {
    margin-top: 30px;
    font-weight: 600;
    font-size: 18px;
    color: #171B26;
}

.peragraph2 {
    margin-top: 10px;
    width: 380px;
    color: #585C67;
}

.peragraph3 {
    width: 400px;
}

.heading1 {
    margin-top: 100px;
    text-align: center;
    font-size: 48px;
}

.img-flex {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.main-div5 {
    margin-top: 200px;
    background-color: #89B9A5;
    border-radius: 20px;
    width: 73%;
}

.div-flex1 {
    display: flex;
    justify-content: center;
}

.heading2 {
    text-align: center;
    color: white;
    padding-top: 50px;
}

.peragraph4 {
    text-align: center;
    color: white;
    padding-top: 20px;
}

.anchor-tag {
    color: white;
}

.input1 {
    width: 200px;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    border-right: 1px solid #EBEBEB;
    padding-left: 20px;
    color: #6B759D;
}

.input-div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.input2 {
    border: none;
    padding-left: 20px;
    color: #6B759D;
}

.button2 {
    height: 52px;
    width: 100px;
    border: none;
    background-color: #F0D29C;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main-div6 {
    margin-top: 170px;
    display: flex;
    justify-content: center;
    gap: 300px;
}

.footer-p {
    margin-top: 20px;
}

.footer-heading1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}

.footer-div {
    display: flex;
    gap: 90px;
    text-align: center;
}

.footer-links {
    display: block;
    color: #585C67;
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
}

.footer-last {
    background-color: #2F2F2F;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    margin-top: 100px;
}

@media (max-width:425px) {
    .nav-img1 {
        display: flex;
    }

    .links {
        display: none;
    }

    .button-container {
        display: none;

    }

    .nav-button {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .nav-container {
        display: flex;
        justify-content: space-around;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .main-div {
        flex-direction: column;
    }

    .main-img {
        margin-left: 20px;
        margin-top: 40px;
    }


    .main-h1 {
        font-size: 51px;
        margin-left: 20px;
    }

    .main-p {
        margin-left: 20px;
        font-size: 13px;
        width: 380px;
    }

    .dropdown {
        width: 125px;
        margin-left: 20px;
    }

    .dropdown2 {
        width: 125px;
    }

    .dropdown1 {
        width: 115px;
    }

    .main-image {
        width: 350px;
        margin-left: 30px; 
    }

    .card1 {
        width: 190px;
        margin-right: 0px;
    }

    .main-div2 {
        margin-left: 10px;
        gap: 10px;
        flex-wrap: wrap;
        width: 400px;
        justify-content: left;
        margin-right: 10px;
    }

    .main-p2 {
        width: 170px;
    }

    .main-img2 {
        left: 32px;
    }

    .main-div3 {
        padding-top: 0px;
    }

    .time-div {
        width: 400px;
        height: 150px;
    }

    .day-heading1 {
        font-size: 25px;
        margin-left: 0px;
    }

    .coundown-img {
        width: 420px;
        top: 0px;
        margin-left: 0px;
    }

    .peragraph {
        font-size: 10px;
        margin-left: 30px;
    }

    .div {
        gap: 0px;
    }

    .border {
        height: 80px;
        margin-top: 10px;
        margin-left: 12px;
        margin-right: 12px;
    }

    .heading {
        font-size: 14px;
        width: 150px;
    }

    .button {
        width: 100px;
        height: 40px;
    }

    .main-div4 {
        flex-wrap: wrap-reverse;
    }

    .main-h2 {
        font-size: 25px;
        margin-left: 60px;
    }

    .main-p3 {
        width: 350px;
        font-size: 12px;
        margin-left: 60px;
        margin-top: 20px;
    }

    .peragraph2{
        width: 290px;
        font-size: 14px;
    }

    .main-img3 {
        margin-left: 40px;
    }

    .image {
        width: 300px;
        margin-left: 20px;
    }

    .img-flex {
        flex-wrap: wrap;
        width: 400px;
        margin-left: 20px;
        justify-content: left;
        gap: 10px;
    }

    .image2 {
        width: 190px;
    }

    .main-div5 {
        width: 90%;
        border-radius: 10px;
    }

    .heading2 {
        padding-top: 20px;
        font-size: 18px;
    }

    .peragraph4 {
        padding-top: 10px;
        width: 300px;
        padding-left: 35px;
    }

    .input1 {
        width: 100px;
        height: 35px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .input-div {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .input2 {
        width: 100px;
        height: 35px;
    }

    .button2 {
        width: 100px;
        height: 37px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .main-div6 {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0px;
    }

    .footerimage {
        margin-left: 50px;
    }

    .footer-p {
        margin-left: 20px;
        margin-bottom: 40px;
    }

    .footer-div {
        flex-wrap: wrap;
        width: 200px;
        margin-left: 80px;
        align-items: center;
    }
}