* {
    margin: 0px;
}

.nav-container {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 100px;
    margin-bottom: 25px;
    border-bottom: 1px;
}

.nav-links {
    align-items: center;
    display: flex;
    gap: 35px;
    margin-left: 10px;
}

.links {
    color: #2D3340;
    text-decoration: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 225px;
    height: 48px;
}

.nav-button {
    align-items: center;
    width: 102px;
    height: 48px;
    border-radius: 24px;
    padding: 14px 25px;
    background-color: #FFFFFF;
    border: 1px solid #89B9A5;
}

.nav-button2 {
    background-color: #6B759D;
    color: white;
    border: none;
}

.main-container {
    background: #7F56D90A;
}

.main-div {
    display: flex;
    justify-content: center;
    /* gap: 100px; */
}

.main-img {
    margin-top: 100px;
}

.main-h1 {
    font-size: 59px;
    font-weight: 800;
    color: #6B759D;

    width: 388px;
}

.main-span {
    color: #0A0C2C;
}

.main-span2 {
    color: #89B9A5;
}


.main-p {
    font-size: 16px;
    margin-top: 50px;
    width: 490px;
}

.dropdown {
    width: 180px;
    height: 50px;
    margin-top: 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.dropdown1 {
    width: 180px;
    height: 50px;
    margin-top: 60px;
}

.dropdown2 {
    width: 180px;
    height: 50px;
    margin-top: 60px;
    background-color: #6B759D;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    border: none;
}

.main-img1 {
    margin-top: 30px;
}

.main-div2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card1 {
    position: relative;
    width: 220px;
    height: 150px;
    border: 2.23px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    z-index: 10;
    align-items: center;
    border: 2px solid #FFFFFF33;
    border-radius: 20px 20px 0px 0px;
}

.main-img2 {
    left: 40px;
    background-color: #FAF8FE;
    position: absolute;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    bottom: 100px;

}

.main-p2 {
    padding-top: 90px;
    width: 200px;
    text-align: center;
}

.main-div3 {
    background-color: white;
    margin-top: 100px;
    width: 80%;
    box-shadow: 11px 12px 42px 0px #0000001F;
    border-radius: 18px;
}

.div {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.days {
    color: #D02467;
    font-size: 72px;
    font-weight: 700;
    align-items: center;
    padding: 50px 0px 0px 30px;
}

.peragraph {
    text-align: center;
    margin-left: 10px;
    margin-bottom: 50px;
}

.border {
    border-left: 1px solid #EAEAEA;
    height: 110px;
    margin-top: 50px;
    margin-left: 50px;
}

.heading {
    width: 340px;
    padding-top : 30px;
}
.button{
    background-color: #6B759D;
    width: 130px;
    height: 50px;
    margin-top: 20px;
    border-radius: 100px;
    border: none;
}